<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.seattletourguide">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
            <activity
                android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity"
            android:label="@string/main_page_greeting"/>
        <activity
            android:name=".ActivitiesCategory"
            android:parentActivityName=".MainActivity"
            android:label="@string/activities_category" />
        <activity
            android:name=".CoffeehousesCategory"
            android:parentActivityName=".MainActivity"
            android:label="@string/coffeehouses_category" />
        <activity
            android:name=".RestaurantsCategory"
            android:parentActivityName=".MainActivity"
            android:label="@string/restaurants_category" />
        <activity
            android:name=".MuseumsCategory"
            android:parentActivityName=".MainActivity"
            android:label="@string/museums_category" />
    </application>
</manifest>

<!--

Credits go to:

Author: freepik

From: FlatIcon

Profile Link: https://www.flaticon.com/authors/freepik

-->